<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<title>TOC</title>
</head>
<body>
	<h1 id="toc">Spis treści</h1>
	<ul> 
    <% web_articles.each do |article| %>
      <li><a href="text.html#<%= article.id %>"><%= article.title %></a></li> 
    <% end %>
  </ul> 
</body>
</html>
