<div class="row">
  <div class="col">
    <div class="c-home-info">
      <h1>Create an ebook from web urls</h1>
      <p class="lead">Paste few urls click one button and enjoy a new shining ebook on your kindle!</p>
      <a href="<%= webooks_index_path %>" class="btn btn-primary btn-xl page-scroll">Create your first kindle book</a>
    </div>
  </div>
</div>


