// Place all the styles related to the Webooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-navbar {
  &__brand {
    margin-left: 67px;
  }
}

.c-home-info {
  margin-top: 29px;
  text-align: center;
  padding: 0 14px;
}

.c-sign-up-link {
  position: absolute;
  right: 10px;
  top: 16px;
}

.c-webooks-index-table {
  &__actions-column {
    width: 161px;
  }
}