// Place all the styles related to the Webooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.c-navbar {
  &__brand {
    margin-left: 67px;
  }
}

.c-home-info {
  margin-top: 29px;
  text-align: center;
  padding: 0 14px;
}

.c-sign-up-link {
  position: absolute;
  right: 10px;
  top: 16px;
}

.c-webooks-index-table {
  &__actions-column {
    width: 161px;
  }
}

.c-webooks-edit-page {
  margin-top: 29px;
}

.c-delete-url-btn {
  position: absolute;
  right: 18px;
  font-size: 11px !important;
}

.c-webooks-urls-list {
  list-style-position: inside;
  padding-left: 17px;
  &__url {
    white-space: nowrap;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}